<div class="modal-header">
	<h3 class="modal-title">Add Related Issues</h3>
</div>
<div class="modal-body">
	<div class="row ri-modal">
		<div class="row-100 margin-bottom-5">
			<div class="col-m-80">
				<div class="row-100">
					<div class="col-label">
						<span>Part #</span>
					</div>
					<div class="col-input">
						<span class="form-control">{{item.partNum}}</span>
					</div>
				</div>
			</div>
			<div class="col-m-20">
				<div class="margin-id-m">
					<div class="row-100">
						<div class="col-label-id">
							<span>ID #</span>
						</div>
						<div class="col-input-id">
							<span class="form-control">{{item.id}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-100">
			<span>Search for Related Issues</span>
		</div>
		<div class="row-100 margin-bottom-5">
			<div class="row-100 ri-box">
				<div class="row-100 margin-bottom-5">
					<div class="col-50 col-mobile">
						<div class="row-100">
							<div class="col-27">
								<span>Part # contains</span>
							</div>
							<div class="col-73">
								<input type="text" class="form-control" ng-model="search.partNum" placeholder="Enter Part #" autofocus />
							</div>
						</div>
					</div>
					<div class="col-50 col-mobile">
						<div class="margin-id-m">
							<div class="row-100">
								<div class="col-27">
									<span>Priority</span>
								</div>
								<div class="col-73">
									<select class="form-control" ng-model="search.priority" ng-options="priority.id as priority.name for priority in item.priorities"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row-100 margin-bottom-5">
					<div class="col-50 col-mobile">
						<div class="row-100">
							<div class="col-27">
								<span>Assigned To</span>
							</div>
							<div class="col-73">
								<select class="form-control" ng-model="search.assignedTo" ng-options="contact.id as contact.firstName + ' ' + contact.lastName for contact in item.contacts"></select>
							</div>
						</div>
					</div>
					<div class="col-50 col-mobile">
						<div class="margin-id-m">
							<div class="row-100">
								<div class="col-27">
									<span>Status</span>
								</div>
								<div class="col-73">
									<select class="form-control" ng-model="search.status" ng-options="status.id as status.name for status in item.statusItems"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row-100 margin-bottom-5">
					<div class="col-50 col-mobile">
						<div class="row-100">
							<div class="col-27">
								<span>Opened By</span>
							</div>
							<div class="col-73">
								<select class="form-control" ng-model="search.openedBy" ng-options="contact.id as contact.firstName + ' ' + contact.lastName for contact in item.contacts"></select>
							</div>
						</div>
					</div>
					<div class="col-50 col-mobile">
						<div class="margin-id-m">
							<div class="row-100">
								<div class="col-27">
									<span>Category</span>
								</div>
								<div class="col-73">
									<select class="form-control" ng-model="search.category" ng-options="category.id as category.name for category in item.categories"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="row-100 margin-bottom-5">
			<div class="text-right">
				<button class="btn btn-default" ng-click="find({partNum : search.partNum, assignedTo : search.assignedTo, status : search.status, openedBy : search.openedBy, category : search.category, priority : search.priority})">Refresh Search</button>
			</div>
		</div>
		
		<div class="row-100">
			<span>Related Issues</span>
		</div>
		<div class="row-100 margin-bottom-5">
			<div class="row-100 ri-box">
				<div class="table-responsive" ng-show="item.issues.length > 0">
					<table class="table table-striped">
						<tr class="info">
							<th><span class="glyphicon glyphicon-ok"></span></th>
							<th><span>#</span></th>
							<th><span>Part #</span></th>
							<th><span>Assigned To</span></th>
							<th><span>Opened By</span></th>
							<th><span>Priority</span></th>
							<th><span>Category</span></th>
							<th><span>Status</span></th>
						</tr>
						<tr ng-repeat="issue in item.issues | filter : {partNum : search.partNum, assignedTo : search.assignedTo, status : search.status, openedBy : search.openedBy, category : search.category, priority : search.priority}">
							<td><input type="checkbox" name="relatedIssues[]" ng-model="relatedIssue_row" ng-checked="item.relatedIssueIds.indexOf(issue.id) > -1" ng-change="toggleChecked(issue, (relatedIssue_row === true))" /></td>
							<td><span>{{issue.id}}</span></td>
							<td>
								<span ng-if="(!issue.partNum || issue.partNum == '')">&nbsp;</span>
								<span ng-if="issue.partNum.length > 0">{{issue.partNum}}</span>
							</td>
							<td>
								<span ng-if="(!issue.assignedTo.firstName && !issue.assignedTo.lastName) || (issue.assignedTo.firstName == '' && issue.assignedTo.lastName == '')">&nbsp;</span>
								<span ng-if="(issue.assignedTo.firstName.length > 0 || issue.openedBy.lastName.length > 0)">{{issue.assignedTo.firstName + ' ' + issue.assignedTo.lastName}}</span>
							</td>
							<td>
								<span ng-if="(!issue.openedBy.firstName && !issue.openedBy.lastName) || (issue.openedBy.firstName == '' && issue.openedBy.lastName == '')">&nbsp;</span>
								<span ng-if="(issue.openedBy.firstName.length > 0 || issue.openedBy.lastName.length > 0)">{{issue.openedBy.firstName + ' ' + issue.openedBy.lastName}}</span>
							</td>
							<td>
								<span ng-if="(!issue.priority.name || issue.priority.name == '')">&nbsp;</span>
								<span ng-if="issue.priority.name.length > 0">{{issue.priority.name}}</span>
							</td>
							<td>
								<span ng-if="(!issue.category.name || issue.category.name == '')">&nbsp;</span>
								<span ng-if="issue.category.name.length > 0">{{issue.category.name}}</span>
							</td>
							<td>
								<span ng-if="(!issue.status.name || issue.status.name == '')">&nbsp;</span>
								<span ng-if="issue.status.name.length > 0">{{issue.status.name}}</span>
							</td>
						</tr>
					</table>
				</div>
				
				<!-- <div class="row-100 row-model-th">
					<div class="row-100">
						<div class="col-10">
							<span class="glyphicon glyphicon-ok"></span>
						</div>
						<div class="col-90">
							<div class="row-100">
								<div class="col-5">
									<strong>#</strong>
								</div>
								<div class="col-10">
									<strong>Part #</strong>
								</div>
								<div class="col-20">
									<strong>Assigned To</strong>
								</div>
								<div class="col-20">
									<strong>Opened By</strong>
								</div>
								<div class="col-15">
									<strong>Priority</strong>
								</div>
								<div class="col-15">
									<strong>Category</strong>
								</div>
								<div class="col-15">
									<strong>Status</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row-100 margin-bottom-5" ng-repeat="issue in item.issues | filter : {partNum : search.partNum, assignedTo : search.assignedTo, status : search.status, openedBy : search.openedBy, category : search.category, priority : search.priority}">
					<div class="col-10">
						<input type="checkbox" name="issues[]" ng-model="issue_row" ng-checked="item.issueIds.indexOf(issue.id) > -1" ng-change="toggleChecked(issue, (issue_row === true))" />
					</div>
					<div class="col-90">
						<div class="row-100">
							<div class="col-5">
								<span>{{issue.id}}</span>
							</div>
							<div class="col-10">
								<span ng-if="(!issue.partNum || issue.partNum == '')">&nbsp;</span>
								<span ng-if="issue.partNum.length > 0">{{issue.partNum}}</span>
							</div>
							<div class="col-20">
								<span ng-if="(!issue.assignedTo.firstName && !issue.assignedTo.lastName) || (issue.assignedTo.firstName == '' && issue.assignedTo.lastName == '')">&nbsp;</span>
								<span ng-if="(issue.assignedTo.firstName.length > 0 || issue.openedBy.lastName.length > 0)">{{issue.assignedTo.firstName + ' ' + issue.assignedTo.lastName}}</span>
							</div>
							<div class="col-20">
								<span ng-if="(!issue.openedBy.firstName && !issue.openedBy.lastName) || (issue.openedBy.firstName == '' && issue.openedBy.lastName == '')">&nbsp;</span>
								<span ng-if="(issue.openedBy.firstName.length > 0 || issue.openedBy.lastName.length > 0)">{{issue.openedBy.firstName + ' ' + issue.openedBy.lastName}}</span>
							</div>
							<div class="col-15">
								<span ng-if="(!issue.priority.name || issue.priority.name == '')">&nbsp;</span>
								<span ng-if="issue.priority.name.length > 0">{{issue.priority.name}}</span>
							</div>
							<div class="col-15">
								<span ng-if="(!issue.category.name || issue.category.name == '')">&nbsp;</span>
								<span ng-if="issue.category.name.length > 0">{{issue.category.name}}</span>
							</div>
							<div class="col-15">
								<span ng-if="(!issue.status.name || issue.status.name == '')">&nbsp;</span>
								<span ng-if="issue.status.name.length > 0">{{issue.status.name}}</span>
							</div>
						</div>
					</div>
				</div> -->
				
			</div>
		</div>
		
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="ok()">OK</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>