<div class="row print-page">
	<div class="print-box">
		<div id="actionButton" class="row">
			<div>
				<button type="button" class="btn btn-lg btn-success" ng-disabled="todosList.length == 0" ng-click="printReport()">Print</button>
			</div>
			<div>
				<span>&nbsp;</span>
			</div>
		</div>
		<div class="row alert alert-info" ng-show="isPageLoading">
			<div class="animation">Loading <span></span><span></span><span></span></div>
		</div>
		<div id="reportContents">
			<div class="row" ng-show="todosList.length == 0">
				<span>No data to print</span>
			</div>
			<div class="row" ng-show="todosList.length > 0">
				<div class="table-responsive">
					<table class="table table-striped">
						<tr class="info">
							<th><span>Who</span></th>
							<th><span>When</span></th>
							<th><span>What</span></th>
							<th><span>Is Done</span></th>
						</tr>
						<tr ng-repeat="todo in todosList">
							<td><span>{{todo.contact}}</span></td>
							<td><span>{{todo.dueDate | date:'MM/dd/yyyy'}}</span></td>
							<td><span>{{todo.what}}</span></td>
							<td>
								<span ng-if="!todo.completed">Not complete</span>
								<span ng-if="todo.completed">Completed</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>