<div class="row detail-page">
	<div class="row margin-bottom-5 hide-mobile">
		<div class="col-xs-6 col-lg-4">
			<span>ID #</span>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-8">
			<span class="form-control">{{category.id}}</span>
		</div>
	</div>
	<div class="row margin-bottom-5">
		<div class="col-xs-6 col-lg-4">
			<span>Category</span>
			<span class="asterisk">*</span>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-8">
			<input type="text" name="cateName" class="form-control" ng-model="category.name" placeholder="Enter Category" required autofocus />
			<span class="asterisk" ng-show="issueForm.cateName.$dirty && issueForm.cateName.$invalid">
				<span ng-show="issueForm.cateName.$error.required">Category's name is required.</span>
			</span>
		</div>
	</div>
	<div class="row margin-bottom-5">
		<div class="col-xs-6 col-lg-4">
			<span>Description</span>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-8">
			<textarea class="form-control text-area-format" rows="11" ng-model="category.description"></textarea>
		</div>
	</div>
	
</div>