<div class="row">
	<div class="text-center">
		<!-- <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination> -->
		<div class="margin-bottom-12">
			<button type="button" class="btn btn-default" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">&lt; PREV</button>
			<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
			<button type="button" class="btn btn-default" ng-disabled="curPage >= categoriesList.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT &gt;</button>
		</div>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<tr class="info">
			<th><span>ID</span></th>
			<th><span>Name</span></th>
			<th><span>Description</span></th>
			<th><span>&nbsp;</span></th>
		</tr>
		<tr ng-repeat="cat in categoriesList | paginationFilter: curPage * pageSize | limitTo: pageSize">
			<td><span><a href="#/setting/categories/{{cat.id}}">{{cat.id}}</a></span></td>
			<td><span>{{cat.name}}</span></td>
			<td><span>{{cat.description}}</span></td>
			<td class="show-cursor" ng-click="doDeleteCategory($index, 'sm')"><span class="glyphicon glyphicon-remove-circle"></span></td>
		</tr>
	</table>
</div>
