<div class="row detail-page">
	<div class="row-100 margin-bottom-12">
		<div>
			<h4>Create New, Update, and View Contact</h4>
		</div>
		<div class="btn-group">
			<span>
				<a class="btn btn-default btn-lg" href="#/setting/contacts" role="button">Contacts</a>
			</span>
		</div>
	</div>
	
	<div class="row-100 margin-bottom-12 top-line">
		<div>
			<h4>Create New, Update, and View Category</h4>
		</div>
		<div class="btn-group">
			<span>
				<a class="btn btn-default btn-lg" href="#/setting/categories" role="button">Categories</a>
			</span>
		</div>
	</div>
	
	<div class="row-100 margin-bottom-12 top-line">
		<div>
			<h4>Create New, Update, and View Status</h4>
		</div>
		<div class="btn-group">
			<span>
				<a class="btn btn-default btn-lg" href="#/setting/status" role="button">Status</a>
			</span>
		</div>
	</div>
	
	<div class="row-100 margin-bottom-12 top-line">
		<div>
			<h4>Create New, Update, and View Priority</h4>
		</div>
		<div class="btn-group">
			<span>
				<a class="btn btn-default btn-lg" href="#/setting/priorities" role="button">Priorities</a>
			</span>
		</div>
	</div>
	
	<div class="row-100 margin-bottom-12 top-line">
		<div>
			<h4>Create New, Update, and View Historical Problem</h4>
		</div>
		<div class="btn-group">
			<span>
				<a class="btn btn-default btn-lg" href="#/setting/historicalProblems" role="button">Historical Problems</a>
			</span>
		</div>
	</div>
	
	<div class="row-100 margin-bottom-12 top-line">
		<div>
			<h4>Create New, Update, and View Historical Fix</h4>
		</div>
		<div class="btn-group">
			<span>
				<a class="btn btn-default btn-lg" href="#/setting/historicalFixes" role="button">Historical Fixes</a>
			</span>
		</div>
	</div>
	
	<div class="row-100 margin-bottom-12 top-line">
		<div>
			<h4>Create New, Update, and View Part Customer</h4>
		</div>
		<div class="btn-group">
			<span>
				<a class="btn btn-default btn-lg" href="#/setting/partCustomers" role="button">Part Customers</a>
			</span>
		</div>
	</div>
	
	<div class="row-100 margin-bottom-12 top-line">
		<div>
			<h4>Sending Email to Supervisor or Everyone</h4>
		</div>
		<div class="btn-group">
			<span>
				<a class="btn btn-default btn-lg" href="#/setting/sendEmail" role="button">Send Email</a>
			</span>
		</div>
	</div>
	
	<div class="row-100 margin-bottom-12 top-line">
		<div>
			<h4>Import Data from CSV file</h4>
		</div>
		<div class="btn-group">
			<span>
				<a class="btn btn-default btn-lg" href="#/setting/importData" role="button">Import Data</a>
			</span>
		</div>
	</div>
	
</div>
