<!DOCTYPE HTML>
<html ng-app="popupApp">
<head>
	<meta charset="UTF-8">
	<title>Rii Issues Tracker - Select Demo</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../default/css/issuetracker.css" />
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand text-brand" href="http://pao-profile.appspot.com/" target="_blank">Angular Pop Up Demo</a>
			</div>

			<div class="navbar-collapse collapse">
				<!-- Menu block -->
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="text-brand">Welcome to Pop Up Demo</span>
				</div>
				<div class="panel-body">
					<div ng-controller="DemoController">
						<div>
							<select ng-model="selected.partNum" ng-options="item.partNum for item in items">
								<option value="">-- Select Part --</option>
							</select>
						</div>
						<div>
							<select ng-model="selected.issueId" ng-options="issue.issueId for issue in selected.partNum.issues">
								<option value="">-- Select Issue --</option>
							</select>
						</div>
						
					</div>
					<hr />
					
					<div ng-controller="TestController">
						<input type="text" class="form-control" ng-model="todo.partNum" placeholder="Enter Part #"/>
						<div class="" ng-show="isDisplay">
							<select class="form-control" ng-change="getPartNum()"  ng-model="partNumSelected" ng-options="issueByPartNum.partNum for issueByPartNum in issuesByPartNum">
								<option value="">-- Select PartNum --</option>
							</select>
						</div>
						{{isDisplay}}
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<div data-ng-include="'footer.html'" />

	<script src="../js/libs/angular.min.js"></script>
	<script src="../js/demo/popup-app.js"></script>
</body>
</html>